html { height:100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}

.row.left{
  justify-content: left;
}

.row.right{
  justify-content: right;
}

.row.top{
  align-items: flex-start;
}

.row-bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-0{
  flex: 1 1 0rem;
  padding: 1rem;
}

.col-1{
  flex: 1 1 25rem;
  padding: 1rem;
}

.col-2{
  flex: 2 1 50rem;
}

.keyNum{
  width: 100%;
  max-width: 14vh;
  min-width: 2rem;
  /* height: 100%;
  max-height: 10rem;
  min-height: 2rem; */
  /* width: 16vh; */
  height: 14vh;
  color: #fff;
  background-color: transparent;
  border: 0;
  font-size: 2vh;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: calc(32% - 1rem);
  margin: 5px;
  background: transparent;
  /* float: right; */
  
  
}

.keyNum:hover{
  transition: 0.2s;
  color: #673ab7;
  background-color: #fff;
  border-radius: 2rem;
}

.keyNum:active{
  transition: 0.2s;
  color: #fff;
  background-color: #38127a;
}

.keyBackspace{
  min-height: 1vh !important;
  max-height: 5vh !important;
  max-width: 5vh !important;
}

.keyPad{
  background-color: #673ab7;
  /* opacity: 75%; */
  width: 100%;
  border: 1px solid black;
  display: inline-block;
  /* padding: 0rem 1rem 0rem 1rem; */
  height: 100vh;
  min-width: 10rem;
  max-width: 35rem;
  /* min-height: 50rem; */
}

.keyRow{
  width: 100%;
  text-align: center;
  min-width: 3rem;
  /* height: 10vh; */
}

.keyContent{
  padding: 1rem;
}

.callButton{
  border-radius: 10rem;
  background-color: #14ad21;
  color: #fff;
  width: 100%;
  max-width: 30vh;
  min-width: 2rem;
  height: 6vh;
  font-size: 3vh;
  box-shadow: 2rem;
}

.callButton:hover{
  background-color: #94d699;
  transition: 0.2s;
  color: #14ad21;
  border-radius: 1rem;
  border-radius: 1rem;
}

.callButton:active{
  background-color: #94d699;
  transition: 0.2s;
  color: #14ad21;
}

.padding{
  padding-bottom: 1rem;
}

input{
  padding: 1vh;
  max-width: 20vh;
  width: 100%;
  height: 2vh;
  font-size: 2vh;
  margin: 1vh;
  text-align: center;
}

.optionBtn{
  width: 100%;
  min-height: 2rem;
  color: #fff;
  background-color: transparent;
  border: 0;
  font-size: large;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: calc(32% - 1rem);
  max-height: 5rem;
  margin: 5px;
  background: transparent;
  /* float: right; */
  max-width: 2rem;
}

.optionBtn:hover{
  background-color: #ffffff;
  transition: 0.2s;
  color: #2d296d;
  border-radius: 1rem;
}

.contentRow{
  padding: 3rem;
  font-size: 2rem;
  color: #fff;

}

.keyPad.calling{
  height: 100vh;
}

.keyNum.round{
  border: 0.2rem solid rgb(150, 145, 145);
  border-radius: 5rem;
}

.keyNum.round:hover{
  background-color: #fff;
  transition: 0.1s;
  border: 0rem;
}

.popup{
  padding: 3rem;
  /* text-align: center; */
  color: #fff;
  border-radius: 2rem;
  font-size: 2rem;
  max-width: 20rem;
}

.popup.info{
  background-color:rgb(43, 110, 197);
}

.popup.hangup{
  background-color: rgb(180, 35, 35);
}

.confirmBtn{
  background-color: rgb(4, 255, 129);
  color: #000000;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem;
  font: 1.2rem solid;
  margin-top: 2rem;
}

.confirmBtn:hover{
  transition: 0.2s;
  background-color: rgb(1, 148, 74);
  color: #353535;
  box-shadow: #353535 2rem;
}

/*From Popup Component reactjs-popup*/
.popup-content {
  margin: auto;
  background: transparent !important;
  border: 0rem !important;
  width: auto !important;
  padding: 0rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.callButton.red{
  background-color: #ff0000;
  color: #fff;
}

.homeBackground{
  text-align: center;
  background-color: #38127a;
}

.coverTheCancelButton{
  z-index: 9000;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #673ab7;
  height: 6vh;
  /* min-width: 10rem;
  max-width: 35rem; */
}

.invisi{
  visibility: hidden;
}

